/* @import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --bg-color: #000000;
  --second-bg-color: #0c0c0c;
  --text-color: #fff;
  --main-color: #FFA86A;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Open Sans', sans-serif;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: flexed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, .2);
  position: fixed;
  top: 0;
  width: 100%;
}

.aside .logo a{
    color: var(--text-color);
    font-weight: 700;
    padding: 10px 15px;
    font-size: 22px;
    letter-spacing: 1px;
    position: relative;
}

.aside .logo a::before{
    content: '';
    position: absolute;
    width: 25px;
    height: 15px;
    border-bottom: 5px solid var(--main-color);
    border-left: 5px solid var(--main-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 15px;
    border-top: 5px solid var(--main-color);
    border-right: 5px solid var(--main-color);
    top: 0;
    right: 0;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  margin-left: 4rem;
  transition: .3s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.home-img img {
  width: 35vw;
  animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  
  50% {
    transform: translateY(-2.4rem);
  }
  
  100% {
    transform: translateY(0);
  }
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 2rem solid var(--second-bg-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  background: transparent;
  transition: .4s ease;
}

.social-media a:hover {
  background: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: .1rem;
  font-weight: 600;
  transition: .4s ease;
}

.btn:hover {
  box-shadow: none;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
}

.about-img img {
  width: 35vw;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/* education section */
.education {
  background: var(--bg-color);
  display: block;
  justify-content: center;
}

.education h1 {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
}

.edu-heading {
  text-align: center;
  font-size: 4.0rem;
  gap: 1.3rem;
}

.edu-content {
  margin-top: 1cm;
  text-align: center;
  line-height: 1.4;
  justify-content: center;
}

.edu-content li {
  list-style-type: none;
  margin-bottom: 20px;
  background-color: var(--second-bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: .5s;
}

.edu-content li:hover {
  transform: scale(1.02);
}

.edu-content p {
  font-size: 1.6rem;
  gap: 2rem;
}

.edu-img img {
  width: 10rem;
  height: 8rem;
  margin-bottom: 0.5rem;
  margin-right: 0;
}

.edu2-img img {
  width: 8rem;
  height: 7rem;
  margin-bottom: 0.5rem;
  margin-right: 0;
}

.edu-content h2 {
  font-size: 2rem;
}

.edu-content h3 {
  font-size: 1.6rem;
}

.edu-content h4 {
  font-size: 1.4rem;
}

/* skill section */
.skills {
  background: var(--second-bg-color);
  display: block;
  gap: 2rem;
}

.skills .heading {
  padding-top: 130px;
}

.skill-content {
  padding-top: 50px;
  margin: auto;
  max-width: 400px;
  line-height: 2.0;
  justify-content: center;
  align-items: center;
}

.skill-content p {
  font-size: 2.0rem;
  gap: 2rem;
}

/*project section */
.projects {
  background: var(--bg-color);
}

.projects h2 {
  text-align: center;
  font-size: 4.5rem;
  margin-bottom: 3rem; 
}

.proj-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.proj-content .project-box {
  position: relative;
  border-radius: 2rem;
  box-shadow: 0 0 1rem var(--bg-color);
  overflow: hidden;
  display: flex;
}

.project-box img {
  width: 100%;
  transition: .5s ease;
}

.project-box:hover img {
  transform: scale(1.1);
}

.project-box .proj-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  transform: translateY(100%);
  transition: .5s ease;
}

.project-box:hover .proj-layer {
  transform: translateY(0);
}
.proj-layer h4 {
  font-size: 3rem;
  color: var(--second-bg-color);
}

.proj-layer p {
  font-size: 1.6rem;
  margin: .3rem 0 1rem;
  color: var(--second-bg-color);
  font-weight: bold;
}

.proj-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: var(--text-color);
  border-radius: 50%;
}

.proj-layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}


/* achievement section */
.achievements {
  background: var(--second-bg-color);
}

.achievements h2 {
  margin-bottom: 5rem;
}

.achv-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.achv-heading {
  text-align: center;
  font-size: 4.0rem;
  gap: 2rem;
}

.achv-content .achv-box {
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  text-align: center;
  border: .2rem solid var(--second-bg-color);
  transition: .5s ease;
}

.achv-content .achv-box:hover {
  border-color: var(--main-color);
  transform: scale(1.03);
}

.achv-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.achv-box h3 {
  font-size: 2.3rem;
}

.achv-box p {
  font-size: 1.4rem;
  margin: 1rem 0 3rem;
}


/* contact section */
.cont-heading {
  margin-bottom: 4rem;
  text-align: center;
  font-size: 4.0rem;
  gap: 2rem;
}

.contactme h2 {
  margin-bottom: 3rem;
}

.contactme form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contactme form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: warp;
}

.contactme form .input-box input,
.contactme form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: .8rem;
  margin: .7rem 0;
}

.contactme form .input-box input {
  width: 49%;
}

.contactme form textarea {
  resize: none;
}

.contactme form .btn {
  margin-top: 2rem;
  cursor: pointer;
}


/* footer section */
.footer {
  display: block;
  justify-content: space-between;
  align-items: center;
  flex-wrap: warp;
  padding: 2rem;
  background: var(--second-bg-color);
  position: relative;
}

.footer-text p {
  font-size: 2rem;
  align-items: center;
  text-align: center;
  width: 100%;
}

.footer-iconTop a {
  position: absolute;
  bottom: 10px;
  right: 10px;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border-radius: .8rem;
  transition: .5s ease;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem var(--main-color);
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: var(--second-bg-color);
}

/* BREAKPOINTS */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .achievements {
    padding-bottom: 7rem;
  }

  .projects {
    padding-bottom: 7rem;
  }

  .contactme {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 56px;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;
    z-index: 99;
  }

.navbar.active {
  display: block;
}
  
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.3rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vw;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 70vw;
    margin-top: 4rem;
  }

  .achievements h2 {
    margin-bottom: 3rem;
  }

  .projects h2 {
    margin-bottom: 3rem;
  }

  .proj-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 617px) {
   .achv-content {
     grid-template-columns: 1fr;
   }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .contactme form .input-box input {
    width: 100%;
  }
}

@media (max-width: 365px) {
  .home-img img {
    width: 90vw;
  }

  .about-img img {
    width: 90vw;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }
}
